.footer-banner {
  background: white;
  text-align: center;
  padding: 80px 40px;
  
}

.footer-banner h2 {
  font-size: 2rem;
  color: var(--purple-dark);
  margin-bottom: 16px;
}

.footer-banner p {
  color: #6b7280;
  line-height: 1.7;
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .footer-banner {
    padding: 40px 20px;
  }
}



/* 🔥 BANNER SUPERIOR */
.footer-banner {
  background: linear-gradient(135deg, #5f2c82, #00c9a7);
  text-align: center;
  padding: 100px 40px;
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.footer-banner::before {
  content: '';
  position: absolute;
  width: 350px;
  height: 350px;
  background: rgba(255,255,255,0.15);
  border-radius: 50%;
  top: -100px;
  left: -100px;
  filter: blur(80px);
}

.footer-banner h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 16px;
}

.footer-banner p {
  color: rgba(255,255,255,0.85);
  max-width: 600px;
  margin: 0 auto 30px;
}

/* BOTONES */
.footer-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn-footer-primary {
  background: white;
  color: #5f2c82;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

.btn-footer-secondary {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
}

/* 🔻 FOOTER ABAJO */
.footer {
  background: #fbfbfb;
  color: rgb(0, 0, 0);
  padding: 60px 40px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer h3 {
  color: #00c9a7;
}

.footer-links,
.footer-social {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  color: #000000;
  text-decoration: none;
  margin: 5px 0;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #00c9a7;
}

/* ICONOS */
.social-icons span {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons span:hover {
  transform: scale(1.2);
}

/* COPYRIGHT */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #444;
  padding-top: 15px;
  font-size: 0.9rem;
  color: #000000;
}

/* 📱 RESPONSIVE */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-buttons {
    flex-direction: column;
  }
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 28px;
  height: 28px;
  transition: 0.3s;
  cursor: pointer;
}

/* 🔥 HOVER PRO */
.social-icons img:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 5px 10px rgba(0,0,0,0.3));
}