<div class="nueva-pub">
    <button class="btn-nueva" (click)="toggleFormulario()">
        {{ mostrarFormulaario ? '✕ Cancelar' : '+ Nueva Publicación' }}
    </button>

    <div class="formulario" *ngIf="mostrarFormulaario">
        <h3>Crear publicación</h3>

        <input class="input-field" type="text" placeholder="Título de tu publicación" [(ngModel)]="titulo" />

        <textarea class="textarea-field" placeholder="Comparte tu experiencia o pregunta..." [(ngModel)]="contenido"
            rows="5">
    </textarea>

        <label class="anonima-label">
            <input type="checkbox" [(ngModel)]="anonima" />
            Publicar de forma anónima 🔒
        </label>

        <p class="aviso-profesional">
            ⚠️ Este foro es un espacio de apoyo entre pares y no reemplaza la atención de un profesional de salud.
        </p>

        <button class="btn-publicar" (click)="publicar()" [disabled]="publicando">
            {{ publicando ? 'Publicando...' : 'Publicar' }}
        </button>
    </div>
</div>